# API Server URL
VITE_API_SERVER_URL=http://localhost:3000/api

# WebSocket Server URL
VITE_WS_SERVER_URL=ws://localhost:3000

# Dispatcher ID (use a valid UUID for testing)
VITE_DISPATCHER_ID=c68d26e1-fb4b-49f8-bf18-594a6ffdb1e3
VITE_PROVIDER_ID=2ec5e125-8e16-45ff-bc90-b7a4c4d79d11
